@import url("./assets.css");
.mainWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.mainWrapper main {
  --padding: 25px;
  width: calc(100% - var(--padding) * 2);
  max-width: 1200px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
}

.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .titlebar {
    flex-direction: column;
    align-items: flex-start;
  }
}
.titlebar h1 {
  margin: 0;
  font-size: 34px;
}
.titlebar .tabs {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  gap: 1.5rem;
}
.titlebar .tabs--tab {
  display: block;
  padding: 1rem 0;
  color: var(--text-1);
  text-decoration: none;
  transition: 350ms;
  cursor: pointer;
}
.titlebar .tabs--tab.-active {
  color: var(--text-1);
}
.titlebar .tabs--line {
  display: block;
  height: 5px;
  position: absolute;
  bottom: 5px;
  border-radius: 3px;
  background-color: var(--blue-1);
  transition: 350ms;
}

.boxlist {
  display: none;
  flex-direction: column;
}
.boxlist._shown {
  display: flex;
}
.boxlist .listloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.boxlist .listloader svg, .boxlist .listloader img.loading {
  height: 100px;
  width: 100px;
  margin-top: 100px;
}

.box {
  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.07);
  overflow-x: auto;
  margin-bottom: 25px;
}
.box .head {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  background-color: rgba(255, 255, 255, 0.07);
}
.box .head h2 {
  margin: 0;
  font-size: 27px;
}
.box .head svg {
  height: 30px;
  width: 30px;
  margin-right: 12px;
}
.box .section {
  padding: 20px 0;
  margin: 0 25px;
  display: flex;
  border-bottom: var(--text-2) solid 1px;
  font-size: 20px;
}
.box .section .label {
  flex: 0 0 200px;
}
.box .section .value {
  font-weight: 600;
}
.box .section a.value:hover {
  color: inherit;
  text-decoration: underline;
}
.box .section .valuelist {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.box .section.norecords {
  font-weight: 500;
  color: var(--text-2);
}
.box .section:last-of-type {
  border-bottom: none;
}
@media screen and (max-width: 800px) {
  .box .section {
    flex-direction: column;
  }
  .box .section .label {
    flex: unset;
    margin-bottom: 5px;
  }
}
.box.dns .section .value {
  font-weight: 500;
}
.box.dns .section .value.flag {
  display: flex;
  align-items: center;
  gap: 15px;
}
.box.dns .section .value.flag img {
  height: 20px;
  border-radius: 3px;
  -o-object-fit: contain;
     object-fit: contain;
}
.box.dns .multival {
  display: flex;
  width: 100%;
  gap: 15px;
}
.box.dns .multival .label {
  color: var(--text-2);
}
.box.dns .multival .value {
  flex-grow: 1;
}

.rawbox {
  border-radius: 17px;
  font-family: "Source Code Pro", monospace;
}
.rawbox h2 {
  font-family: Montserrat, sans-serif;
}
.rawbox .content {
  padding: 25px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.refreshbox {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 15px;
  font-size: 16px;
  color: var(--text-2);
}
.refreshbox button svg {
  --svg-color: var(--text-2);
  height: 15px;
  width: 15px;
  fill: var(--svg-color);
  stroke: var(--svg-color);
}
.refreshbox button svg path {
  fill: var(--svg-color);
}
.refreshbox button.anim {
  animation: rotate 0.5s linear 1;
}
.refreshbox button:hover {
  cursor: pointer;
}

.infobox {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 25px;
  margin-bottom: 15px;
  border: var(--blue-1) solid 2px;
  border-radius: 7px;
  background-color: rgba(67, 176, 241, 0.2);
  font-weight: 500;
  font-size: 18px;
}
.infobox svg {
  height: 25px;
  width: 25px;
}
.infobox .highlight {
  font-weight: 700;
}
.infobox a.highlight:hover {
  color: inherit;
  text-decoration: underline;
}

#otherlist button {
  margin-bottom: 15px;
}
#otherlist button:hover {
  cursor: pointer;
}/*# sourceMappingURL=info.css.map */