@import url("./assets.css");

main {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchmain {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 90%;

    h1 {
        margin: 0;
        margin-bottom: 25px;
        font-size: 35px;

        // background: linear-gradient(to right bottom, var(--text-1), var(--text-2) 100%);
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
    }

    #unkowntype {
        display: none;
        color: var(--danger);
        margin-top: 25px;

        &._shown {
            display: block;
        }
    }
}