<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= query %> - Domainlookup</title>

    <link href="/assets/css/info.css" rel="stylesheet">
</head>
<body>
    <div class="loader"></div>

    <div class="mainWrapper">
        <main>
            <h1><%= query%></h1>

            <div id="whoislist" class="boxlist"></div>
        </main>
    </div>

    <input id="query" type="text" value="<%= query %>" style="display: none;">

    <script src="/assets/js/assets.js"></script>
    <% if (queryType === "domain") {%><script src="/assets/js/domain.js"></script><%}%>
</body>
</html>