<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= query %> - Domainlookup</title>

    <link href="/assets/css/info.css" rel="stylesheet">
</head>
<body>
    <div class="loader"></div>

    <div class="mainWrapper">
        <main>
            <h1><%= query%></h1>

            <div class="box">
                <div class="head">
                    <h2>Domain Information</h2>
                </div>

                <div></div>
            </div>
        </main>
    </div>

    <script src="/assets/js/assets.js"></script>
    <script src="/assets/js/info.js"></script>
</body>
</html>