<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Domainlookup</title>

    <link href="/assets/css/auth.css" rel="stylesheet">
</head>
<body>
    <div class="loader"></div>

    <main>
        <form method="post" class="loginmain">
            <h1>Login</h1>
            <input type="text" name="username" placeholder="Username" id="uname-input" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </main>

    <script src="/assets/js/assets.js"></script>
    <script>
        document.getElementById("uname-input").focus();
    </script>
</body>
</html>